<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTZ6Xkw5WBZKgPSx--IcwouXWT5vXcnwY</string>
	<key>GCM_SENDER_ID</key>
	<string>281548009556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginOsc</string>
	<key>PROJECT_ID</key>
	<string>loginosc-973f7</string>
	<key>STORAGE_BUCKET</key>
	<string>loginosc-973f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281548009556:ios:f1cd8f968a1a0a90b7bdc1</string>
</dict>
</plist>